#logo {
    width: 175px;
}

* {
    margin: 0;
    padding: 0;
}

.part-1 {
    display: flex;
    gap: 2.5vw;
    font-size: 1.3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    align-items: center;
}

#search {
    width: 25px
}

.nav {
    display: flex;
    justify-content: space-between;

}

.nav_bar {
    /* position: fixed; */
    background-color: white;
}

.part-2 {
    display: flex;
    gap: 1.5vw;
    align-items: center;
    margin-top: 1.5vh;
}

.nav {
    width: 94vw;
    margin: auto;
    margin-top: 1vh;
}

.start_building {
    width: 7vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    font-weight: 500;
    /* margin-top: 1vh; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav_bar {
    height: 8.7vh;
    border-bottom: 2px solid rgb(234, 234, 234);
}

.powering_onchain {
    width: 60%;
    display: flex;
    margin-top: 30vh;
    margin-left: 2.5vw;
    flex-direction: column;
    gap: 4vh;
}

.powerOriginal {
    width: 94vw;
    display: flex;
    background-image: url(https://res.cloudinary.com/dxzo7jfbn/image/upload/v1761997705/edit_pya8wy.png);
    background-size: cover;
    margin: auto;
    /* border: 1px solid black; */
    border-left: 1px solid rgb(234, 234, 234);
    border-right: 1px solid rgb(234, 234, 234);
    padding-bottom: 5vh;
}

.powering_text {
    font-family: sans-serif;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.font {
    font-size: 6rem;
    font-weight: 400;
    color: black;
}

.font1 {
    color: gray;
}

.power_box {
    display: flex;
    gap: 2vw;
}

.power_box1 {
    width: 12vw;
    height: 7vh;
    font-family: sans-serif;
    background-color: blue;
    color: white;
    text-align: center;
    display: flex;
    border-radius: 4px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
}

.power_box2 {
    width: 12vw;
    height: 7vh;
    font-family: sans-serif;
    border: 2px solid gray;

    text-align: center;
    display: flex;
    border-radius: 4px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
}

.ad {
    border-top: 1px solid rgb(234, 234, 234);
    /* padding-bottom: 8vh; */
}

.pendle {
    width: 94vw;
    background-color: #f5f7fa;
    margin: auto;
    border-left: 1px solid rgb(234, 234, 234);
    border-right: 1px solid rgb(234, 234, 234);
    padding-bottom: 9vh;
}

.roll_box {
    display: flex;
    flex-direction: row;
    gap: 6vw;
}

.marqueeMain {
    padding-top: 7vh;

}

.row1 {
    margin-top: 5vh;
    display: flex;
    justify-content: space-evenly;
}

.box {
    height: 30vh;
    width: 19vw;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    cursor: pointer;
    border-radius: 3px;
    /* border: 1px solid black; */
}

.chainLink {
    height: 22.7vh;
    border-radius: 3px;
}

.imgBox {
    overflow: hidden;
}

.chainLink:hover {
    filter: grayscale(100%);
}

.box:hover img {
    transform: scale(1.1);
    transition: all .5s ease;

}

.textRow {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.adoption {
    color: gray;
    font-size: 1.01rem;
    font-weight: 500;
}

.global_rating_text {
    font-size: 1.18rem;
    font-weight: 500;
}

.chainLinkPlatform {
    background-color: #0e1119;
    color: white;
    font-family: sans-serif;
    border-bottom: 1px solid rgb(109, 107, 107);
}

.chaiLinkeMain {
    width: 94vw;
    border-left: 1px solid rgb(109, 107, 107);
    border-right: 1px solid rgb(109, 107, 107);

    margin: auto;
    display: flex;
    /* gap: 6vw; */
    padding-top: 5vh;
}

.chainnLinkChild1 {
    width: 60%;
    padding-left: 3vw;
    display: flex;
    flex-direction: column;
    gap: 7vh;
}

.chainLinkParaMain {
    width: 76%;
    display: flex;
    flex-direction: column;
    gap: 8vh;
}
.a_learn{
    text-decoration: none;
    color: white;
}
.chaiLinkPlatform {
    font-size: 4rem;
    width: 70%;
}

.textChainlink {
    color: rgba(217, 226, 242, 0.75);
}

.chainLinkpara1 {
    font-size: 1.5rem;
    color: rgba(217, 226, 242, 0.75);
}

.learn_more {
    margin-top: 5.6vh;
}

.chainLinkpara {
    font-size: 1.5rem;
    margin-top: 4vh;
    color: rgba(217, 226, 242, 0.75);
}

#blackPolygon {
    height: 80vh;
}

#blackPolygon {
    /* opacity: .4.8; */
    background-color: #0e1119
}

.learn_more {
    display: flex;
    /* gap: 1vw; */
    font-size: 1.1rem;
}
.learnImg{
    margin-bottom: 4vh;
}
#learnImg {
    padding-bottom: 4vh;
    margin-right: 10vw;
}
#learnImg:hover{
    transform: translateY(-.7vh);
  transition: all .5s ease;
}
.number {


    background-color: #0e1119;
}

.number_child1 p {

    color: rgb(46, 123, 255);
    font-size: 8vw;


}

.number_child2 {
    color: gray;
}

.number_main {
    width: 94vw;
    margin: auto;
    padding-top: 3vh;
    border-left: 1px solid rgb(109, 107, 107);
    border-right: 1px solid rgb(109, 107, 107);
    padding-bottom: 4vh;
}

.small {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
}

.number_child1 p {

    /* padding-left: 3vw; */
    /* margin-left: 3vw; */
}

.number_child2 small {
    color: white;
}

.number_child {
    width: 100%;
    padding-left: 2.48vw;
}

.oneAdMain {
    width: 94vw;
    margin: auto;
    background-color: rgb(245, 247, 250);
    margin-top: 4vh;
    padding-bottom: 5vh;
}

.JP_morgan_box {
    padding-bottom: 3vh;
    border: 1px solid rgb(171, 171, 171);
}
.JP_morgan_inner_img{
    overflow: hidden;
  
}
.JP_morgan_inner_img:hover img{
    transform: scale(1.06);
      transition: all .3s ease;
}
.powerinngToken {
    width: 90%;
    margin: auto;
}

.financialAssest {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
}

.tokenized_stablecoins_row {
    display: flex;
    gap: 3vw;
}

.oneAdMain {
    border: 1px solid rgb(234, 234, 234);

}

.financialAssest {
    margin-top: 5vh;
    margin-left: 3vw;

}

.tokenized_stablecoins_row {
    margin-top: 8vh;
}

.tokenized_stablecoins_row {
    border-top: 1px solid rgb(109, 107, 107);
    /* padding-top: 1vh; */
    font-weight: 500;
    word-spacing: .4rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tokenized_funds {
    padding-top: 1vh;
    border-top: 1px solid rgb(46, 123, 255);
}

.stablecoins,
.payment,
.onchain_data,
.lending_borrowing,
.derivatives {
    padding-top: 1vh;
}

.both_text_img {
    display: flex;
    /* border: 1px solid black; */
    margin-top: 7vh;
}

.JP_morgan {
    /* border: 1px solid black; */
    width: 35%;

}

.JP_morgan_inner_box {
    width: 90%;
    margin: auto;
    margin-top: 3vh;
}

#JP_morgan {
    width: 100%;
}

.JP_morgan_img {
    /* width: 90%; */
    margin: auto;
    background-color: white;

}

.JP_morgan_inner_text {
    width: 75%;
    font-weight: 500;
    font-size: 1.4rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.JP_morgan_box {
    margin: auto;
}

.JP_morgan_text {
    padding-top: 5vw;
    padding-left: 9vw;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.connect_and_orchestrate {
    /* padding: 6vw; */
    /* padding-left: 9vw; */
    /* margin: 6vw;
    margin-left: 9vw; */
    display: flex;
    flex-direction: column;
    gap: 1.7vh;


}

.selcter_connect_automate_enable {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
}

.enable_tokenized {
    font-size: 1.7rem;
    width: 63%;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.why_chainlinkMain {
    width: 94vw;
    margin: auto;
    display: flex;
    margin-top: 5vh;
    /* justify-content: space-between; */
    border: 1px solid rgb(234, 234, 234);
}

.why_chainlinkChild1 {
    width: 40%;


}

.why_chainlinkChild2 {
    width: 50%;
    margin-left: 4vw;


}

.global_standard {
    font-size: 2.8rem;
    width: 58%;
    margin-top: 5vh;
    margin-left: 5.7vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.solving {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    padding-bottom: 5vh;
    border-bottom: 1px solid future_proof_main
}

.solving_core {
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 5vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.chainlink_delivers {
    font-size: 1.1rem;
    width: 92%;
    color: rgba(20, 25, 33, 0.7);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.future_proof {
    background-color: #0847f7;
}

.future_proof_main {
    width: 94vw;
    margin: auto;
    border: 1px solid rgb(234, 234, 234);
    background-color: #0e1119;
}

.footer_platform {
    display: flex;
    flex-direction: column;
    gap: 3vh;

}

.move_onchain {
    font-size: 2.6rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: white;


}

.footer_platform {
    width: 35%;
    padding-left: 5vw;
    padding-top: 5vh;
}

.talk_to_expert {
    width: 10vw;
    height: 6vh;
    font-family: sans-serif;
    background-color: blue;
    color: white;
    text-align: center;
    display: flex;
    border-radius: 4px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
}

#future_proof_background {
    /* margin-bottom: 15vh; */
    /* width: 100%; */
    width: 100%;
}

.future_proof_background {
    width: 60%;
}

.future_proof_main {
    display: flex;
    padding-top: 5vh;
    margin-bottom: 5vh;
    /* background-image: url(https://res.cloudinary.com/dxzo7jfbn/image/upload/v1762227578/Screenshot_2025-11-04_090819_am2w9t.png);
    background-position-x:80vw ;
    background-repeat: no-repeat; */
}

.future_proof {
    padding-top: 6vh;
    padding-bottom: 4vh;
}

.inbox {
    background-color: #0e1119;

}

.inbox_main {
    width: 94vw;
    margin: auto;

    border-left: 1px solid rgb(109, 107, 107);
    border-right: 1px solid rgb(109, 107, 107);
    display: flex;

   
}

.logoFooter {
    color: gray;
     padding-top: 5vh;
         padding-bottom: 5vh;
           background-color: #141921;
}

.use_cases {
    color: rgb(216, 207, 207);
    padding-top: 4vh;
    /* padding-left: 5vw; */
    width: 60%;
       padding-bottom: 5vh;
}

.overview {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    font-family: 'Segoe UI';
}

.logo_div_email {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.logoFooter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 5vw;
    border-right: 1px solid rgb(109, 107, 107);
    
    background-color: #0e1119;
}

#inputEmail {
    width: 14vw;
    height: 5vh;
    background-color: #0e1119;
    padding-left: 1vw;
    border: 1px solid rgb(109, 107, 107);
}

.subscribe_now {
    width: 6vw;
    height: 5.3vh;
    font-family: sans-serif;
    background-color: blue;
    color: white;
    text-align: center;
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: .89rem;
}

.agrement {
    display: flex;
    gap: .5vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#checkbox {
    height: 3vh;
}

.email_div {
    display: flex;

}

.latest_chainlink {
    font-size: 1.2rem;
    width: 52%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.overview ul {
    font-family: 'Segoe UI';
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    list-style-type: none;
}

.logoFooter {
    width: 30%;
}

.overview_one {
    display: flex;
    flex-direction: column;
    gap: 1.6vh;
    font-family: 'Segoe UI';
}

.up {
    display: flex;
    font-size: 1.2rem;
    /* gap: 3vh; */
    margin-top: 1vh;
    justify-content: space-evenly;
    font-family: 'Segoe UI';
}

.use_cases_main ul {
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    list-style-type: none;
}

.get_involved ul {
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    list-style-type: none;
}

.down {
    margin-top: 10vh;
    display: flex;
    font-size: 1.2rem;
    /* gap: 3vh; */
    justify-content: space-evenly;
    font-family: 'Segoe UI';
    margin-left: -3vw;
}
.overview_two{

}
.overview_two ul{
      display: flex;
    flex-direction: column;
    gap: 1.5vh;
    list-style-type: none;
}

.what_happening ul{
       display: flex;
    flex-direction: column;
    gap: 1.5vh;
    list-style-type: none;
}
.ecosystem ul{
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    list-style-type: none;
}
.copyright_main{
    width: 94vw;
    margin: auto;

}
.chainnlink_copyright_text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
    padding-top: 3vh;
    padding-bottom: 3vh;
    display: flex;
    gap: 2vw;

}
.copyright{
    background-color: #0e1119;
    border-top: 1px solid rgb(109, 107, 107); ;
}
.copyright_main{
   border-left: 1px solid rgb(109, 107, 107);
    border-right: 1px solid rgb(109, 107, 107);
}
#checkbox{
    width: 1vw;
    margin-top: -.8vh;
}
.all_terms{
    display: flex;
    gap: 2vw;
}
@media screen and (max-width:576px) {
    .platfrom{
        display: none;
    }
    .solution{
        display: none;
    }

    .developer{
        display: none;
    }
    .resources{
        display: none;
    }
    .start_building{
        font-size: .6rem;
    }
    #logo{
        /* height: 5vw; */
        /* width: auto; */
    }
    .start_building{
        width: 16vw;
        height: 4vh;
        font-size: .65rem;
    }
    .chaiLinkeMain{
        display: flex;
        flex-direction: column;
    }
    #blackPolygon{
        width: 100%;
        height: auto;
    }
    .tokenized_stablecoins_row{
        overflow-x: auto;
        scrollbar-width: none;
        font-size: .9rem;
        gap: 5vw;
    }
    .inbox_main{
        flex-direction: column;
    }
    .logoFooter{
        width: 94%;
        gap: 30vh;
        /* text-align: center; */
        justify-content: center;
    }
    .latest_chainlink{
        display: flex;
        justify-content: center;
               text-align: center;
    }
    .logo_div_email{
        display: flex;
        justify-content: center;
    }
    .email_div{

    }
    .font{
        font-size: 3rem;
       display: flex;
       
    }
    .powering_onchain{
        width: 100%;
    }
    .power_box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4vh;

    }
    .power_box1{
        height: 6vh;
        width: 24vw;
        font-size: .7rem;
    }
    .power_box2{
             height: 6vh;
        width: 24vw;
        font-size: .96rem;
    }
    .row1{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5vh;
    }
    .box{
        width: 90vw;
        justify-content: center;
        align-items: center;
    }
    .imgBox{
        /* height: 50vh; */
    }
    .chainLink{
        /* width: 70vw; */
    }
    .chainnLinkChild1{
        width: 100%;
    }
    .chaiLinkPlatform{
        font-size: 3rem;
        padding-left: 7vw;
    }
    .chainLinkParaMain{
            padding-left: 7vw;
    }
    .learn_more{
         padding-left: 7vw;
    }
    .number_child1 p{
        font-size: 2.7rem;
    }
    .small{
        font-size: .7rem;
    }
    .financialAssest{
        width: 100%;
        font-size: 2rem;
    }
    .both_text_img{
        flex-direction: column;

    }
    .JP_morgan{
        width: 100%;
    }
    .JP_morgan_inner_text{
        width: 100%;
    }
    .connect_and_orchestrate{
        gap: 3vh;
    }
    .enable_tokenized{
        width: 100%;

    }
    .why_chainlinkMain{
        flex-direction: column;
     

    }
    .global_standard {
        width: 94vw;
        font-size: 3rem;
    }
    .why_chainlinkChild2{
        width: 92vw;
    }
    .move_onchain{
        font-size: 1rem;
    }
    .talk_to_expert{
        width: 20vw;
        font-size: .7rem;
        height: 4vh;
    }
    .future_proof_main{
        padding-bottom: 5vh;
    }
    .up {
        flex-direction: column;
       
    }
    .email_div{
        justify-content: center;
    }
    #inputEmail{
        width: 45%;
    }
    .subscribe_now{
        width: 35%;
    }
    .latest_chainlink{
        width: 100%;
    }
    .down{
        flex-direction: column;
        margin-left: 1vw;
    }
    #checkbox{
        width: 3vw;
    }
    .agrement{
        justify-content: center;
        font-size: .8rem;
    }
    .overview ul{
         /* justify-content: center;
         text-align: center; */
        /* align-items: center; */
    }
    .chainlink_foundation{
        font-size: .6rem;
    }
    .chainnlink_copyright_text{
        display: flex;
        flex-direction: column;
    }
    .all_terms{
        display: flex;
        flex-direction: column;
        font-size: .7rem;
        justify-content: center;
    }
}


